<h4>This is the Charity Dashboard</h4>
<p>{{currentUser}}</p>
<div class="">
  <a href="/charities/{{currentUser._id}}/edit">Edit Your Landing Page</a>
</div>
<div class="">
  <a href="#">Create a Campaign</a>
</div>
