<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form class="" action="/" method="post">
  <label for="text">Enter Some Text:</label>
  <input type="text" name="exampleText" value="">
  <input type="submit" value="Submit">
</form>

<form class="" action="/addUser" method="post">
  <label for="text">Enter User Information:</label>

  <input type="text" name="username" value="">

  <input type="text" name="password" value="">

  <input type="text" name="email" value="">

  <input type="text" name="street" value="">
  <input type="text" name="city" value="">
  <input type="text" name="state" value="">
  <input type="text" name="zipcode" value="">
  <input type="submit" value="Submit">
</form>