<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form class="" action="/" method="post">
  <label for="text">Enter Some Text:</label>
  <input type="text" name="exampleText" value="">
  <input type="submit" value="Submit">
</form>

<form class="" action="/addUser" method="post">
  <h3>User Information</h3>
  <label for="username">username:</label>
  <input type="text" id="username" name="username" value="">

  <label for="password">password:</label>
  <input type="text" id="password" name="password" value="">

  <label for="email">email:</label>
  <input type="text" id="email" name="email" value="">
    
  <label for="street">street:</label>
  <input type="text" id="street" name="street" value="">
    
  <label for="city">city:</label>
  <input type="text" id="city" name="city" value="">
    
  <label for="state">state:</label>
  <input type="text" id="state" name="state" value="">
    
  <label for="zipcode">zipcode:</label>
  <input type="text" id="zipcode" name="zipcode" value="">

  <input type="submit" value="Submit">
</form>