<h2>{{message}}</h2>

<h1>Login</h1>
<form action="login" method="POST">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" name="username" placeholder="">
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="">
	</div>
	<input type="submit" class="btn btn-danger" value="Submit">
</form>
